NODE_ENV = development
PORT = 3000

DATABASE_URL="postgresql://postgres:root@localhost:5432/authenticationSystem"


JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

REDIS_URL=redis://localhost:6379